<!-- About page -->
<%- include("header") %>
<%- include("navbar") %>
<div class="container">
  <div class="row">
    <h2>About Bob's Factory</h2>
  </div>
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, placeat labore magnam, facere, illo incidunt
      nobis ad consequuntur aperiam fugit error! Impedit aperiam inventore quasi consequatur tenetur? Impedit, illo
      numquam.</p>
  </div>
  <%- include("footer") %>
</div>
