<head>
  <meta charset="utf-8">
  <meta name="viewport" , content="width=device-width, initial-scale=1">
  <meta name="author" content="Professor Krasso, Jeff Shepherd">
  <meta name="description" content="Employee Management System">

  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

  <%- include("scripts") %>
</head>
