<!DOCTYPE html>
<html lang="en-us">
<%- include("header") %>

<body>
  <%- include("navbar") %>
  <div>
    <div>
      <h1></h1>
      <p>Template jumbotron</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eum hic quibusdam amet ratione quia repellat
          deserunt perspiciatis rerum. Incidunt eius beatae inventore assumenda ipsam fugit sapiente. Maiores, ipsam
          nobis?
        </p>
      </div>
    </div>

    <%- include("footer") %>
  </div>
  <%- include("scripts") %>
</body>

</html>
