<!DOCTYPE html>
<html lang="en-us">
<%- include("header") %>

<body>
  <%- include("navbar") %>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-2 bold">Bob's<br> Droid Factory</h1>
      <p>Employee Management System</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/list" role="button">Manage some employees &raquo;</a>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <p>Here at Bob's, we build the best droids.</p>
    </div>
    <%- include("footer") %>
    <%- include("scripts") %>
</body>

</html>
