<!DOCTYPE html>
<html lang="en-us">
<%- include("header") %>

<body>
  <%- include("navbar") %>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Bob's Droid Factory</h1>
      <p>Employee Management System</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/list" role="button">Manage some employees &raquo;</a>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias corrupti sit adipisci ab ut veritatis nulla
        excepturi nesciunt voluptatibus harum, corporis quidem exercitationem necessitatibus suscipit nihil modi dolorem
        quia neque.</p>
    </div>
    <%- include("footer") %>
    <%- include("scripts") %>
</body>

</html>
