<!-- employee record view -->
<%- include("header") %>
<%- include("navbar") %>

<div class="container">
  <div class="row">
    <h2>View Employee</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
  <tr>
    <td>put first name</td>
    <td>put last name</td>
    <td>put email address</td>
  </tr>
    </tbody>
  </table>
  <%- include("footer") %>
</div>



